$base-border-radius: 3px;
$base-spacing: 1em;
$large-spacing: $base-spacing * 2;
$small-spacing: $base-spacing / 2;

$white: #fff;
$black: #000;
$dark-gray: #333;
$light-gray: #ddd;
$red: #f15151;

$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

$base-background-color: #f3f3f3;
